.contenuto{
    background-image: url("../img/notfound-desktop.jpg") ;
    background-size: 100% 100%;
    width: 100%;
    height: 95vh;
    position: relative;
}
.contenuto_logo{
    
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;

}
.contenuto_logo_btn{
    width: 40px;
    height:30px;
    border-radius: 17px;
    margin-left: 3%; 
}
.contenuto_logo_img{
    height: 40%;
    width: auto;
    margin-left: 2%;
    
}
.contenuto_text-container{
    color: white;
    position: absolute;
    top: 16%;
    left: 5%;
    font-size: large;
    margin-top: 10px;
}
.contenuto_text-container__dettagli{
    margin-top: 5%;
    margin-bottom: 5%;
}
.contenuto_text-container__dettagli p{
    font-size: 0.7em;
}
.contenuto_text-container__btn{
    width: 45%;
    margin-bottom: 3%;
}

.followUs{
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    position: absolute;
    top: 90%;
    right: 3%;
    text-align: center;
    
}
.followUs p{
    font-size: 0.9em;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(39 38 38);
}
.coppy{
    margin-top: 2%;
    width: 45%;
    color: white;
    font-size: 0.8em;
}
.pagamento{
    margin-top: 2%;
    width: 30%;
}
.pagamento>*{
    width: 37px;
    height: 27px;
}
@media screen and (max-width: 374px) {
    .contenuto{
        background-image: url(../img/notfound-mobile.jpg);
    }
    .contenuto_logo{
        justify-content: center;
    }
    .contenuto_text-container{
        left: 8%;
        top:13%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contenuto_text-container__dettagli p {
        font-size: 0.9em;
        margin-bottom: 0.7rem;
    }
    .contenuto_text-container__btn{
        width: 75%;
        height: 50px;
        margin-bottom: 3%;
        margin-left: 3%;
    }
    .followUs{
        flex-direction: column;
        right: 0%;
        width: 100%;
        top: 87%;
    }
    .followUs i {
        margin-left: 5px;
    }
    footer{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .coppy{
        width: 100%;
    }
    .pagamento{
        width: 100%;
    }
}