header {
  position: fixed;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
header button {
  height: 35px;
  width: 45px;
  border-radius: 14px;
  border-style: inset;
  border-width: 0;
}
header > img {
  display: none;
}
header button:nth-child(3) {
  background-color: rgb(52, 52, 255);
  height: 25px;
  width: 50px;
  color: white;
  text-align: center;
}
.header_logo {
  height: 40%;
  width: auto;
}
header > span {
  color: white;
}
header div:nth-child(6) {
  border: solid black 0.5px;
  border-radius: 13px;
  background-color: white;
  border-style: inset;
  border-width: 0;
  width: 240px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.header_barraRicherca > input {
  margin-left: 14px;
  margin-top: 3px;
  border-style: inset;
  border-width: 0;
}
.fa-search {
  margin-right: 5px;
  height: 16px;
  margin-top: 10px;
}
.banner {
  width: 100%;
  height: 400px;
  position: relative;
}
.banner picture img {
  width: 100%;
  height: auto;
}
.banner_title {
  font-weight: bold;
  line-height: normal;
  padding: 5% 0 4%;
  color: white;
  font-size: 3em;
}
.accordion > .accordion-item {
  border: 0;
}
#panelsStayOpen-headingOne {
  font-size: 30px;
  text-align: left;
  padding: 0 1rem;
  font-weight: bold;
  color: #999;
}
#panelsStayOpen-collapseOne > .accordion-body {
  text-align: left;
  color: #999;
  line-height: 1.5;
  font-size: 16px;
}
.accordion-item {
  border: 0;
  align-items: center;
  margin: 0 auto;
}
#panelsStayOpen-headingTwo {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;

  width: min-content;
}
.accordion-button.collapsed {
  width: max-content;

  border: 1px solid #999;
  border-radius: 30px;
}
.banner_container {
  position: absolute;
  top: 20%;
  left: 20%;
}
.banner_container button {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 36px;
  opacity: 0.9;
}
.banner_container span {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: normal;
  color: #fff;
  position: absolute;
}
.banner_container span:nth-child(5) {
  top: 180%;
}
.banner_container span:nth-child(6) {
  top: 180%;
  left: 50%;
}
.banner_container span:nth-child(7) {
  left: 93%;
  top: 180%;
  width: 144px;
}

.banner_container button:nth-child(2) {
  left: 50%;
}
.banner_container button:nth-child(3) {
  left: 99%;
}

.content {
  width: 100%;
}
.rev {
  position: relative;
  margin-top: -30px;
  z-index: 188;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bread_crumb {
  margin-top: -15px;
  width: 39%;
  height: 88px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.bread_crumb span:nth-child(3) {
  margin-left: 5px;
}
.bread_crumb span:nth-child(3) {
  font-weight: bold;
  margin-left: 4px;
}
.revbanner_titolo {
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 10px;

  font-size: 1.5em;
  font-weight: bold;
}
.rev_container {
  display: flex;
  overflow-x: auto;
}
.rev_container::-webkit-scrollbar {
  border-radius: 5px;
  height: 3px;
}
.rev_container::-webkit-scrollbar-track {
  background-color: #f7f3f3;
} /* the new scrollbar will have a flat appearance with the set background color */

.rev_container::-webkit-scrollbar-thumb {
  background-color: rgba(7, 7, 7, 0.2);
} /* this will style the thumb, ignoring the track */

.contenitore_immagini {
  margin-left: 5%;
  border-radius: 10px;
  position: relative;
  padding-bottom: 20px;
}
.contenitore_immagini img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.contenitore_immagini span {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 3px;
  white-space: nowrap;
}

.steps {
  margin-top: 7%;
  width: 100%;
}
.step {
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 10px;
}

.step_step_number {
  border-radius: 100%;
  color: white;
  background-color: #3c4043;
  font-size: 24px;
  text-align: center;
  width: auto;
  padding: 0px 12px;
  display: inline-block;
  font-weight: bold;
  margin: 8px;
}
.step_step-title {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  line-height: normal;
  color: #3c4043;
  padding: 19px 0 20px;
}
.step_step-text {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #3c4043;
  float: left;
  width: 100%;
  margin-left: 0;
  margin: 0;
}
.step_vuoto {
  width: 50%;
}
.step_vuoto img {
  width: 100%;
  height: 90%;
}
.step_container {
  width: 50%;
  padding-left: 5%;
}
.step_tre {
  display: flex;

  margin-top: 133px;
  background-color: rgba(224, 225, 229, 0.22);
  height: 400px;
}
.step_tre__txt {
  position: relative;
  width: 53%;
  background-color: rgba(224, 225, 229, 0.22);
}
.step_tre__img {
  width: 45%;
  position: relative;
  background-color: rgba(224, 225, 229, 0.22);
}
.step_tre__imgTitolo {
  background-color: #fbffff;
  z-index: 3;
  position: absolute;
  width: 115px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 20%;
  left: -10%;
}
.step_tre__img img {
  position: absolute;
  width: 80%;
  top: -100px;
  left: 5%;
}
.step_tre__txt > span:nth-child(1) {
  position: absolute;
  top: 23%;
  left: 15%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  font-size: 42px;
}
.step_tre__txt > span:nth-child(2) {
  position: absolute;
  top: 39%;
  left: 22%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  font-size: 42px;
}
.step_tre__container {
  position: relative;
  top: 55%;
  left: 162px;
  height: 50px;
  width: 180px;
}
.step_tre__container span:nth-child(2) {
  position: absolute;
  left: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c4043;
  font-size: 42px;
}
.step_tre__container img:nth-child(1) {
  position: absolute;
  max-width: 10px;
  left: 10px;
  top: 25%;
}
.step_tre__container img:nth-child(3) {
  position: absolute;
  max-width: 10px;
  left: 200px;
  top: 25%;
}

.step_quatro {
  display: flex;
  align-items: center;
  background-color: rgba(224, 225, 229, 0.22);
  justify-content: center;
  margin-bottom: 35px;
  width: 100%;
  padding: 0 5%;
  justify-content: center;
}
.info {
  margin-top: 74px;
  width: 50%;
}
.step_quatro > .step_container {
  margin-top: 59px;
  margin-left: 31px;
  width: 45%;
  margin-left: 5%;
  align-self: center;
}

.info span:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c4043;
  padding-bottom: 17px;
  margin: 14px 5px 10px;
}
.info span:nth-child(2) {
  color: #999;
  background: #fff;
  box-shadow: 0 15px 24px 0 rgb(0 0 0 / 12%);
  padding: 0px 60px;
  border-radius: 5px;
  line-height: 1.3;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 14px 5px 10px;
  align-items: baseline;
}
.info span:nth-child(3) {
  color: #999;
  background: #fff;
  box-shadow: 0 15px 24px 0 rgb(0 0 0 / 12%);
  padding: 0px 60px;
  border-radius: 5px;
  line-height: 1.3;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 19px;
  margin: 14px 5px 10px;
  align-items: baseline;
}
.info span:nth-child(4) {
  color: #999;
  background: #fff;
  box-shadow: 0 15px 24px 0 rgb(0 0 0 / 12%);
  padding: 0px 60px;
  border-radius: 5px;
  line-height: 1.3;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 19px;
  align-items: baseline;
  margin: 14px 5px 10px;
}
.accordion {
  text-align: center;
}

.services_titolo {
  font-size: 3em;
  font-weight: bold;
  margin-left: 5%;
}
.services_detagli {
  margin-left: 5%;
}
.service {
  display: flex;
  overflow-x: auto;
  margin-top: 5%;
  margin-left: 5%;
  padding-bottom: 24px;
}
.service::-webkit-scrollbar {
  border-radius: 5px;
  height: 3px;
}
.service::-webkit-scrollbar-track {
  background-color: #f7f3f3;
} /* the new scrollbar will have a flat appearance with the set background color */

.service::-webkit-scrollbar-thumb {
  background-color: rgba(7, 7, 7, 0.2);
} /* this will style the thumb, ignoring the track */

.service_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e6ed;
  border-radius: 7px;
  padding: 14px 13px;
  margin-right: 16px;
  float: left;
  background-color: #fff;
}
.service_container > div {
  white-space: nowrap;
}
.service_container > i {
  width: 32px;
  height: 18px;
}
.newsletter {
  margin-top: 10%;
  display: flex;
  margin-left: 5%;
}
.newsletter input {
  width: 90%;
  border-style: inset;
  border-width: 0;
}
.newsletter_store__ricerca {
  height: 40px;
  width: 90%;
  padding: 8px 13px;
  font-size: 14px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #e0e1e5;
  background-color: #fff;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
}
.newsletter_store,
.newsletter_social {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.newsletter_store__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10%;
}
.newsletter_store__ricerca {
  display: flex;
  margin-bottom: 5%;
}
.newsletter_store__ricerca > a {
  text-decoration: none;
}
.newsletter_store > a,
.newsletter_social > a {
  font-size: 0.7rem;
  text-decoration: underline;
  align-self: center;
  margin-left: 49%;
  color: #757575;
}
.newsletter_store__incone {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}
.newsletter_store__incone button {
  height: 45px;
  width: 55px;
  border-radius: 14px;
  border-style: inset;
  border-width: 0;
  box-shadow: 4px 4px 12px 1px rgb(32 33 36 / 8%);
  color: #3c4043;
}
.newsletter input::-webkit-input-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
}
footer {
  margin-top: 5%;
  background: #3c4043;
  display: flex;
  flex-direction: column;
}
.footer_title {
  font-size: 12px;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
  color: #fff;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}
.footer_info {
  display: flex;
  flex-direction: column;
}
.footer_info__title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 4%;
}
.footer_info__text {
  color: white;
  font-size: 12px;
}
.divisore {
  height: 2px;
  width: 99%;
  background-color: #999;
  margin-top: 7%;
  margin-bottom: 4%;
}
.sub_footer__address {
  color: #fff;
  font-size: 10px;
  width: 40%;
}
.sub_footer {
  display: flex;
  justify-content: space-around;
}
.footer_address__pagamento {
  width: 40%;
  text-align: center;
}
.footer_address__pagamento img {
  width: 45px;
  height: 30px;
  margin-bottom: 3%;
}
@media screen and (max-width: 768px) {
  .banner {
    width: 100%;
    height: 370px;
    position: relative;
  }
  .banner_rev-banner {
    width: 100%;
    height: 499px;

    position: relative;
    margin-top: -56px;
  }
  .banner_redactional span:nth-child(4) {
    top: 55%;
    font-size: 2rem;
    left: 8%;
  }
  .banner_redactional span:nth-child(5) {
    position: absolute;
    top: 55%;
    font-size: 2rem;
    left: 37%;
  }
  .banner_redactional span:nth-child(6) {
    top: 55%;
    font-size: 2rem;

    left: 70%;
  }
  .rev-banner_imgsContainer {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .rev-banner_imgs > img {
    width: 29%;
    height: 100%;
  }
  .banner_container {
    position: absolute;
    top: 14%;
    left: 23%;
  }

  .header_logo {
    display: none;
  }

  .header_barraRicherca > input {
    margin-left: 10px;
    border-style: inset;
    border-width: 0;
    text-align: center;
    margin-top: 2px;
  }

  .banner_container button:nth-child(2) {
    left: -10%;
  }
  .banner_container button:nth-child(2) {
    left: 40%;
  }
  .banner_container button:nth-child(3) {
    left: 80%;
  }
  .banner_container span:nth-child(6) {
    top: 180%;
    left: 42%;
  }
  .banner_container span:nth-child(7) {
    left: 76%;
    top: 180%;
    width: 144px;
  }
  .steps {
    margin-top: 4%;
    width: 100%;
  }
  .step_vuoto {
    width: 53%;
  }
  .step_step-title {
    font-size: 38px;
  }
  .step_step-text {
    font-size: 17px;
  }
  .newsletter input::-webkit-input-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 10px;
  }
  .newsletter_store > a,
  .newsletter_social > a {
    font-size: 0.7rem;
    text-decoration: underline;
    align-self: center;
    margin-left: 35%;
    color: #757575;
  }
  .newsletter_store__incone button {
    height: 38px;
    width: 40px;
  }
  .newsletter_store__ricerca > a {
    font-size: 14px;
  }
  .step_tre__container img:nth-child(3) {
    position: absolute;
    max-width: 10px;
    left: 162px;
    top: 25%;
  }
  .step_tre__container img:nth-child(1) {
    left: 10px;
  }
  .step_tre__container span:nth-child(2) {
    left: 30px;
    font-size: 32px;
  }
  .contenitore_immagini {
    height: 300px;
  }
  .contenitore_immagini img {
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin-left: 30px;
  }
  .step_step-title {
    font-size: 24px;
    line-height: 1.17;
    padding: 20px 0 15px;
  }
}
@media screen and (max-width: 480px) {
  header {
    flex-wrap: wrap;
    height: 140px;
  }
  header button {
    display: none;
  }
  header > span {
    display: none;
  }
  .header_logo {
    display: inline;
    height: 30%;
    width: 133px;
  }
  .header_menu__humburger {
    width: 40px;
    height: 30px;
    max-width: 40px;
    max-height: 30px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header > img {
    display: inline;
  }
  .header_menu__humburger .line {
    background-color: white;
    width: 67%;
    height: 9%;
    margin: 2px;
    padding: 1px;
  }
  .banner {
    height: 540px;
  }
  .banner_container {
    position: absolute;
    top: 27%;
    left: 7%;
  }
  .banner_title {
    margin-top: 4px;
    text-align: center;
    font-size: 1.9em;
  }
  .banner_container button:nth-child(2) {
    left: 35%;
  }
  .banner_container button:nth-child(3) {
    left: 70%;
  }
  .banner_title {
    font-weight: bold;
    line-height: normal;
    padding: 5% 0 4%;
    color: white;
    font-size: 2em;
  }
  .banner_container span:nth-child(5) {
    top: 200%;
  }
  .banner_container span:nth-child(6) {
    top: 200%;
    left: 38%;
  }
  .banner_container span:nth-child(7) {
    left: 60%;
    top: 200%;
    width: 140px;
    text-align: center;
  }
  .banner_rev-banner {
    width: 100%;
    height: 1120px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: -14%;
  }
  .banner_redactional {
    margin-left: 18%;
  }
  .rev-banner_imgsContainer {
    width: 100%;
    height: 50%;
    text-align: center;
    max-height: 30%;
  }

  .rev-banner_imgs > img {
    width: 67%;
    height: 80%;
  }
  .banner_redactional span:nth-child(4) {
    top: 30%;
    left: 34%;
  }
  .banner_redactional span:nth-child(5) {
    top: 57%;
    font-size: 2rem;
    left: 34%;
  }
  .banner_redactional span:nth-child(6) {
    top: 80%;
    font-size: 2rem;
    left: 30%;
  }
  .content {
    width: 100%;
  }
  .bread_crumb {
    margin-top: -15px;
    width: 93%;
  }
  .revbanner_titolo {
    margin-left: 6%;
    font-size: 1.2em;
  }
  .contenitore_immagini {
    height: 300px;
  }
  .contenitore_immagini img {
    width: auto;
    height: 100%;
    border-radius: 10px;
    margin-left: 30px;
  }
  .steps {
    margin-top: 6%;
  }
  .step {
    flex-direction: column;
    height: 25%;
  }
  .step_vuoto {
    width: 80%;
    align-self: center;
    order: 2;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .step_container {
    width: 95%;
    margin-left: 6%;
    align-self: flex-start;
    order: 1;
  }
  .step_step_number {
    font-size: 13px;
    padding: 0px 7px;
  }
  .step_step-title {
    font-size: 24px;
    line-height: 1.17;
    padding: 20px 0 15px;
  }
  .step_step-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .step_tre {
    display: flex;
    margin-top: 40px;
    background-color: rgba(224, 225, 229, 0.22);
    height: 400 px;
  }
  .step_tre__img img {
    width: 160px;
    top: -26px;
  }

  .step_tre__txt > span:nth-child(1) {
    top: 50%;
    left: 15%;
    font-size: 33px;
  }
  .step_tre__txt > span:nth-child(2) {
    top: 63%;
    left: 40%;
    font-size: 33px;
  }
  .step_tre__txt span:nth-child(3) {
    top: 75%;
    left: 73%;
    font-size: 33px;
  }
  .step_tre__txt img:nth-child(5) {
    top: 78%;
    max-width: 10px;
    left: 62%;
  }
  .step_tre__txt img:nth-child(4) {
    top: 78%;
    left: 160%;
  }

  .step_tre__imgTitolo {
    top: 20%;
    left: -36%;
  }
  .step_tre__img {
    width: 68%;
    height: 50%;
  }
  .step_quatro {
    flex-direction: column;
  }
  .info {
    margin-top: 24px;
    margin-left: 30px;
    width: 86%;
  }
  .step_quatro > .step_container {
    margin-left: 31px;
    width: 80%;
    margin-left: 6%;
    align-self: center;
  }
  .newsletter {
    margin-top: 9%;
    flex-direction: column;
  }
  .newsletter_store {
    width: 90%;
    margin-bottom: 4%;
  }
  .newsletter_store > a {
    margin-left: 55%;
  }
  .newsletter_social {
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
  }
  .newsletter_store__title {
    white-space: nowrap;
  }
  .newsletter_store__incone {
    align-items: center;
  }
  .newsletter_store__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10%;
  }
  .newsletter_store__incone button {
    height: 31px;
    width: 34px;
    margin-left: 14px;
  }
  .step_tre__container {
    position: relative;
    top: 77%;
    left: 70%;
    height: 50px;
  }
  .step_tre__container span:nth-child(2) {
    position: absolute;
    left: 11%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3c4043;
    font-size: 32px;
  }
  .step_tre__container img:nth-child(1) {
    position: absolute;
    max-width: 10px;
    left: 0%;
    top: 25%;
  }
  .step_tre__container img:nth-child(3) {
    position: absolute;
    max-width: 10px;
    left: 90%;
    top: 25%;
  }
  .footer_container {
    flex-direction: column;
  }
  .footer_info {
    width: 100%;
    text-align: center;
  }
  .footer_address__pagamento {
    width: 94%;
    margin-top: 20px;
    text-align: center;
  }
  .sub_footer__address {
    width: 100%;
  }
  .sub_footer {
    flex-direction: column;
  }
  .services_titolo {
    font-size: 2em;
  }
  .step_step-title {
    font-size: 24px;
    line-height: 1.17;
    padding: 20px 0 15px;
  }
}
