header {
  position: fixed;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
header button {
  height: 35px;
  width: 45px;
  border-radius: 14px;
  border-style: inset;
  border-width: 0;
}
header > img {
  display: none;
}
header button:nth-child(3) {
  background-color: rgb(52, 52, 255);
  height: 25px;
  width: 50px;
  color: white;
  text-align: center;
}
.header_logo {
  height: 40%;
  width: auto;
}
header > span {
  color: white;
}
header div:nth-child(6) {
  border: solid black 0.5px;
  border-radius: 13px;
  background-color: white;
  border-style: inset;
  border-width: 0;
  width: 240px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

input {
  margin-left: 9px;
  border-style: inset;
  border-width: 0;
}
.fa-search {
  margin-right: 5px;
  height: 16px;
  margin-top: 10px;
}
.banner {
  width: 100%;
  height: 74vh;
  position: relative;
}
 .banner picture img {
  width: 100%;
  height: auto;
}
.banner_title {
  font-weight: bold;
  line-height: normal;
  padding: 5% 0 4%;
  color: white;
  font-size: 3em;
}
.banner_container {
  position: absolute;
  top: 20%;
  left: 20%;
}
.banner_container button {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 36px;
  opacity: 0.9;
}
.banner_container span {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: normal;
  color: #fff;
  position: absolute;
}
.banner_container span:nth-child(5) {
  top: 180%;
}
.banner_container span:nth-child(6) {
  top: 180%;
  left: 50%;
}
.banner_container span:nth-child(7) {
  left: 93%;
  top: 180%;
  width: 144px;
}

.banner_container button:nth-child(2) {
  left: 50%;
}
.banner_container button:nth-child(3) {
  left: 99%;
}

.rev_container{
  display: flex;
  overflow: scroll;

}
.contenitore_immagini img{
  width: 100%;
  height: auto;
}


.steps {
  margin-top: 50%;
  width: 100%;
}
.step {
  display: flex;
  width: 100%;
  height: 510px;
  margin-top: 10px;
}


.step_step_number {
  border-radius: 100%;
  color: white;
  background-color: #3c4043;
  font-size: 24px;
  text-align: center;
  width: auto;
  padding: 0px 12px;
  display: inline-block;
  font-weight: bold;
  margin: 8px;
}
.step_step-title {
  display: block;
  font-size: 48px;
  font-weight: bold;
  line-height: normal;
  color: #3c4043;
  padding: 19px 0 20px;
  margin-left: 6px;
}
.step_step-text {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #3c4043;
  margin-left: 6px;
}
.step_vuoto {
  width: 45%;
  margin-left: 9px;
}
.step_container {
  width: 45%;
  margin-left: 6%;
}
.step_tre {
  display: flex;
  position: relative;
  margin-top: 133px;
  background-color: rgba(224, 225, 229, 0.22);
  height: 400px;
}
.step_tre__img {
  width: 45%;
}
.step_tre__img img {
  position: absolute;
  width: 335px;
  top: -92px;
  right: 5%;
}
.step_tre__txt > span:nth-child(1) {
  position: absolute;
  top: 49%;
  left: 15%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  font-size: 20px;
}
.step_tre__txt span:nth-child(2) {
  position: absolute;
  top: 58%;
  left: 22%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  font-size: 20px;
}
.step_tre__txt span:nth-child(3) {
  position: absolute;
  top: 69%;
  left: 28%;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c4043;
  font-size: 20px;
}
.step_tre__txt img:nth-child(4) {
  position: absolute;
  top: 69%;
  max-width: 10px;
  left: 25%;
}
.step_tre__txt img:nth-child(5) {
  position: absolute;
  top: 69%;
  max-width: 10px;
  left: 40%;
}

.step_quatro {
  display: flex;
  background-color: #999999;
  justify-content: center;
}
.info {
  margin-top: 74px;
  margin-left: 30px;
}
.step_quatro > .step_container {
  margin-top: 59px;
  margin-left: 31px;
  width: 45%;
  margin-left: 6%;
  align-self: center;
}

.info span:nth-child(1) {
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3c4043;
  padding-bottom: 17px;
  margin: 14px 5px 10px;
}
.info span:nth-child(2) {
  color: #999;
  background: #fff;
  box-shadow: 0 15px 24px 0 rgb(0 0 0 / 12%);
  padding: 14px 21px;
  border-radius: 5px;
  line-height: 1.3;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 21px;
  margin: 14px 5px 10px;
}
.info span:nth-child(3) {
  color: #999;
  background: #fff;
  box-shadow: 0 15px 24px 0 rgb(0 0 0 / 12%);
  padding: 14px 21px;
  border-radius: 5px;
  line-height: 1.3;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 21px;
  margin: 14px 5px 10px;
}
.info span:nth-child(4) {
  color: #999;
  background: #fff;
  box-shadow: 0 15px 24px 0 rgb(0 0 0 / 12%);
  padding: 14px 21px;
  border-radius: 5px;
  line-height: 1.3;
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 21px;
  margin: 14px 5px 10px;
}
.accordion{
  text-align: center;
}
@media screen and (max-width: 790px) {
  .banner {
    width: 100%;
    height: 37vh;
    position: relative;
  }
  .banner_rev-banner {
    width: 100%;
    height: 499px;
    background-color: aqua;
    position: relative;
    margin-top: -56px;
  }
  .banner_redactional span:nth-child(4) {
    top: 55%;
    font-size: 2rem;
    left: 8%;
  }
  .banner_redactional span:nth-child(5) {
    position: absolute;
    top: 55%;
    font-size: 2rem;
    left: 37%;
  }
  .banner_redactional span:nth-child(6) {
    top: 55%;
    font-size: 2rem;

    left: 70%;
  }
  .rev-banner_imgsContainer {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .rev-banner_imgs > img {
    width: 29%;
    height: 100%;
  }
  .banner_container {
    position: absolute;
    top: 14%;
    left: 23%;
  }
  .banner {
    width: 100%;
    height: 85vh;
    position: relative;
  }

  .header_logo {
    display: none;
  }

  input {
    margin-left: 10px;
    border-style: inset;
    border-width: 0;
    text-align: center;
    margin-top: 2px;
  }

  .banner_container button:nth-child(2) {
    left: -10%;
  }
  .banner_container button:nth-child(2) {
    left: 40%;
  }
  .banner_container button:nth-child(3) {
    left: 80%;
  }
  .banner_container span:nth-child(6) {
    top: 180%;
    left: 42%;
  }
  .banner_container span:nth-child(7) {
    left: 76%;
    top: 180%;
    width: 144px;
  }
  .steps {
    margin-top: 4%;
    width: 100%;
  }
  

}
@media screen and (max-width: 480px) {
  header {
    flex-wrap: wrap;
    height: 140px;
  }
  header button {
    display: none;
  }
  header > span {
    display: none;
  }
  .header_logo {
    display: inline;
    height: 30%;
    width: 133px;
  }
  .header_menu__humburger {
    width: 40px;
    height: 30px;
    max-width: 40px;
    max-height: 30px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header > img {
    display: inline;
  }
  .header_menu__humburger .line {
    background-color: white;
    width: 67%;
    height: 9%;
    margin: 2px;
    padding: 1px;
  }
  .banner_container {
    position: absolute;
    top: 27%;
    left: 7%;
  }
  .banner_title {
    margin-top: 4px;
    text-align: center;
    font-size: 1.9em;
  }
  .banner_container button:nth-child(2) {
    left: 35%;
  }
  .banner_container button:nth-child(3) {
    left: 70%;
  }
  .banner_title {
    font-weight: bold;
    line-height: normal;
    padding: 5% 0 4%;
    color: white;
    font-size: 2em;
  }
  .banner_container span:nth-child(5) {
    top: 200%;
  }
  .banner_container span:nth-child(6) {
    top: 200%;
    left: 38%;
  }
  .banner_container span:nth-child(7) {
    left: 60%;
    top: 200%;
    width: 140px;
    text-align: center;
  }
  .banner_rev-banner {
    width: 100%;
    height: 1120px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: -14%;
  }
  .banner_redactional {
    margin-left: 18%;
  }
  .rev-banner_imgsContainer {
    width: 100%;
    height: 50%;
    text-align: center;
    max-height: 30%;
  }

  .rev-banner_imgs > img {
    width: 67%;
    height: 80%;
  }
  .banner_redactional span:nth-child(4) {
    top: 30%;
    left: 34%;
  }
  .banner_redactional span:nth-child(5) {
    top: 57%;
    font-size: 2rem;
    left: 34%;
  }
  .banner_redactional span:nth-child(6) {
    top: 80%;
    font-size: 2rem;
    left: 30%;
  }
  .steps {
    margin-top: 6%;
  }
  .step {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .step_vuoto {
    width: 80%;
    align-self: center;
    order: 2;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .step_container {
    width: 95%;
    margin-left: 6%;
    align-self: flex-start;
    order: 1;
  }
  .step_step_number {
    font-size: 13px;
    padding: 0px 7px;
  }
  .step_step-title {
    font-size: 24px;
    line-height: 1.17;
    padding: 20px 0 15px;
  }
  .step_step-text {
    font-size: 16px;
    line-height: 1.5;
  }
  .step_tre__img img {
    width: 194px;
    top: -81px;
  }
 
  .step_tre__txt > span:nth-child(1) {
    top: 40%;
    left: 15%;
  }
  .step_tre__txt span:nth-child(2) {
    position: absolute;
    top: 49%;
  }
  .step_tre__txt span:nth-child(3) {
    position: absolute;
    top: 59%;
  }
  .step_tre__txt img:nth-child(5) {
    top: 58%;
    left: 50%;
  }
  .step_tre__txt img:nth-child(4) {
    position: absolute;
    top: 58%;
    max-width: 10px;
    left: 25%;
  }
  .step_quatro {
    flex-direction: column;
  }
  .info {
    margin-top: 24px;
    margin-left: 30px;
    width: 86%;
  }
  .step_quatro > .step_container {
    margin-left: 31px;
    width: 80%;
    margin-left: 6%;
    align-self: center;
  }
}
